@import url('./__item/cards__item.css');
@import url('./__image/cards__image.css');
@import url('./__title/cards__title.css');
@import url('./__description/cards__description.css');
@import url('./__image/cards__image_attention.css');
@import url('./__image/cards__image_recall.css');
@import url('./__image/cards__image_interliving.css');
@import url('./__image/cards__image_question.css');
@import url('./__image/cards__image_competence.css');
.cards{
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}