.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #F2F2F2;
  transition: opacity .5s linear;
}

.footer__column-link:hover {
  opacity: .4;
}
