  /* *{
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
}*/
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.logo{
  z-index: 4;
  width: 183px;
}
.logo_place_header{ 
  background-image: url(../images/logo_place_header.svg);
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}
.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}
.header {
  height: 100vh;
  display: flex;
  background-color: #F2F2F2;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
}
.header__title{
  margin-left: 64px;
  width:730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  z-index: 2;
}
.header__subtitle{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
}
.header__square-pic{
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}
.header__main-illustration{
  height: 608px;
  width: 765px;
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 1;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;
}
.description{
  display:flex;
  justify-content: center;
  min-width: 784px;
}
.two-columns{
  width:80%;
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  margin-top: 100px;
}
.two-columns__brief{
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text{
  width:80%;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:nth-of-type(2n){
  margin: 30px 0;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}
.feynman{
  text-align: center;
  height: 790px;
  background-color: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
}
.feynman__title{
  width: 648px;
  margin-top: 0;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link{
  color: #000000;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top:50%;
  right:48px;
}
.digits{
  display: flex;
  margin:auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title{
  margin-top:100px;
  margin-bottom:20px;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}
.section-title_theme_dark {
  color: #F2F2F2;
  margin-top:90px;
}
.section-subtitle{
  text-align: center;
  margin:0;
  width: 60%;
  line-height:34px;
  font-size: 24px;
  font-weight: normal;
}
.section-subtitle_theme_dark {
  color: #F2F2F2;
  font-weight: bolder;
}
.table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  z-index: 1;
}
.table_theme_dark {
  margin-bottom: 90px;
}
.table__cell{
  width: 250px;
  margin-top: 60px;
}
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}
.table__heading_theme_dark {
  color: #F2F2F2;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.table__text_theme_dark {
  color: #F2F2F2;
}
.kaufman{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #1F1F1F;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top:0;
  right: -210px;
  width: 877px;
  height: 877px;
}
.footer{
  background-color: #1F1F1F;
  color: #F2F2F2;
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-basis: 711px;
}
.footer__columns{
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column{
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__column_content_info{
  align-items: flex-start;
}
.footer__column_content_social{
  justify-content: start;
}
.footer__author{
  line-height:25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}
.footer__column-heading{
  line-height:30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.footer__column-links{
  list-style-type: none;
  text-decoration: none;
  margin: 20px 0 16px 0;
  padding: 0;
}
.footer__column-link{
  line-height:30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #F2F2F2;
}
.footer__social-icon{
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.footer__social-icon:hover {
  transform: scale(1.2);
}
a:hover {
  color: orange;
}