/* @import url('../vendor/normalize.css'); */
@import url('./logo/logo.css');
@import url('./header/header.css');
@import url('./description/description.css');
@import url('./techniques/techniques.css');
@import url('./video/video.css');
@import url('./oakley/oakley.css');
@import url('./feynman/feynman.css');
@import url('./digits/digits.css');
@import url('./khan/khan.css');
@import url('./kaufman/kaufman.css');
@import url('./resources/resources.css');
@import url('./footer/footer.css');
@import url(./footer/__columns/footer__columns.css);
@import url(./footer/__column/footer__column.css);
@import url(./footer/__column-heading/footer__column-heading.css);
@import url(./footer/__column-links/footer__column-links.css);
@import url(./footer/__column-link/footer__column-link.css);
@import url(./footer/__column-heading/footer__column-heading.css);
@import url(./footer/__column/_content/footer__column_content_copyright.css);
@import url('./footer/__column/_content/footer__column_content_info.css');
@import url(./footer/__column/_content/footer__column_content_social.css);
@import url(./footer/__author/footer__author.css);
@import url(./footer/__social-icon/footer__social-icon.css);

@import url('./two-columns/two-columns.css');

@import url('./cards/cards.css');
@import url('./cards/__item/cards__item.css');
@import url('./cards/__image/cards__image.css');
@import url('./cards/__title/cards__title.css');
@import url('./cards/__description/cards__description.css');


@import url('./section-title/section-title.css');
@import url('./section-subtitle/section-subtitle.css');
@import url('./table/table.css');

@import url('./feynman/__title/feynman__title.css');
@import url('./feynman/__subtitle/feynman__subtitle.css');
@import url('./feynman/__link/feynman__link.css');

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}
