@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__square-pic/header__square-pic.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__link/header__link.css);

.header {
  height: 100vh;
  display: flex;
  background-color: #F2F2F2;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
