@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__link/header__link.css);

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #F2F2F2;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.header::after {
  content:'';
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}