.techniques {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox; /*crossbr.*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
