.techniques {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox; /*crossbr.*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
