.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #1F1F1F;
}

.kaufman::after {
  content:'';
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  animation: rotation 20s linear infinite;
}