.khan__buy-link {
  margin: 0;
  height: min-content; /*нужно в брифе на 11 стр поправить п.9 для ссылки*/
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity .5s linear;
}

.khan__buy-link:hover {
  opacity: .4;
}
